.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    width: 70%;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.heading{
    
    color: white;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
.tittle{
    
    color: white;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}
.offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.offer-tittle{
    color: red;
    font-size: 60px;
    font-weight: 800;
}
.holidays{
    color: red;
}
.comingsoon{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.welcome-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.welcome{
    background-image: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 70%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.welcome img{
    width: 70%;
}
.welcome-tittle{
    color: white;
    font-size: 60px;
}
.welcome-details{
    color: white;
    font-size: 30px;
}
.comingsoon-tittle{
    color: red;
}
.btn-join{
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    padding: 10px 10px 10px 10px;
}
.joinnow-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.joinnow{
    margin-top: 80px;
    background: linear-gradient(to bottom, #FFCCCC, #FFFFFF);
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-joinnow{
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    background-color: red;
    color: white;
}
.place{
    color: red;
}

.elips-container{
    border: 5px solid red;
    border-radius: 300px;
}
.elips-container img{
    padding: 15px;
}
.portfolio-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio{
    width: 70%;
}
.image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.image-container img:hover{
    transform: scale(1.1);
}
.input-field{
    padding: 15px;
    border-radius: 50px 0px 0px 50px;
    border: none;
}
.btn-subscribe{
    padding: 15px;
    border-radius: 0px 50px 50px 0px;
    background-color: red;
    border: none;
    color: white;
}
.subscribe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}
.subscribe-section{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(222, 38, 38, 0.28);
    width: 70%;
    border-radius: 5px;
    border: none;
}

.footer-container{
    margin-top: 100px;
    background-color: rgba(7, 2, 17, 1);
    color: white;
}
.contact-container{
    display: flex;
    gap: 10px;
    

}
.address-container{
    padding: 60px 180px 60px 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hr-line{
    width: 80%;
    
}
.icon-container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.unsuscribe-container{
    padding: 60px 180px 60px 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
